# Enable the rewrite engine
RewriteEngine on

# Redirect the root domain (letti.site) to /home
RewriteRule ^$ /home/de/ [L]

# Specific English language rewrites
# These should be handled first to prevent general rules from applying too early
RewriteRule ^about/en/?$ /en/enabout.html [NC,L]
RewriteRule ^home/en/?$ /en/enindex.html [NC,L]
RewriteRule ^news/en/?$ /en/ennews.html [NC,L]
RewriteRule ^projects/en/?$ /en/enprojects.html [NC,L]
RewriteRule ^streams/en/?$ /en/enstream.html [NC,L]
RewriteRule ^printbed/en/?$ /en/enprintbed.html [NC,L]
RewriteRule ^article1/en/?$ /en/art_statewebsite.html [NC,L]

# General (default language) rewrites
# These rules should apply only if the English rules don't match
RewriteRule ^home/de/?$ /de/index.html [NC,L]
RewriteRule ^news/de/?$ /de/news.html [NC,L]
RewriteRule ^projects/de/?$ /de/projects.html [NC,L]
RewriteRule ^streams/de/?$ /de/stream.html [NC,L]
RewriteRule ^about/de/?$ /de/about.html [NC,L]
RewriteRule ^printbed/de/?$ /de/printbed.html [NC,L]
RewriteRule ^article1/de/?$ /de/art_zustandwebsite.html [NC,L]