@font-face {
	font-family: "Ubuntu";
	src: url("rss/font/Ubuntu-Regular.ttf") format("truetype");
}
 
@media (max-width: 1081px) {
	.contentbox{
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;
		height: max-content;
		width: auto;
		padding: 0.5rem;
	}

	body {
		font-family: "Ubuntu", sans-serif;
		font-size: large;
		color: #32cd32;
		background-color: #161616;
		margin: 0;
		padding: 0;
		scroll-behavior: smooth;
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0;
		background-color: #242424;
		height: 4rem;
		margin-top: 0;
		width: 100vw;
		overflow: hidden;
	} 

	nav ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	nav a {
		display: flex;
		align-items: center;
		padding: 0.25rem 0.25rem;
		text-decoration: underline;
		color: #32cd32;
		font-size: small;
		vertical-align: auto;
		justify-content: center;
		height: 4rem;
		width: auto;
	}
	nav a:hover{
		background-color: #424242;
	}
	nav img {
		margin-right: 0.1rem;
		height: 1rem;
	}
	.slideimg{
		width:100%; 
		height: auto;
		object-fit: cover; 
		vertical-align: center;
	}

	.aboutmepixelart{
		width: 40vw;
	}
} 

@media (min-width: 1081px) {
	.contentbox{
		margin-left: 20vw;
		margin-right: 20vw;
		margin-bottom: 10rem;
		padding-top: 2rem;
		padding-left: 1em;
		padding-right: 1em;
		padding-bottom: 2rem;
		background-color: #424242;
		height: max-content;
		overflow: overlay;
	}
	body {
		font-family: "Ubuntu", sans-serif;
		font-size: large;
		line-height: 2rem;
		color: #32cd32;
		background-color: #161616;
		margin: 0;
		padding: 0;
		scroll-behavior: smooth;
	}
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 2rem;
		background-color: #242424;
		height: 2vh;
		margin-top: 0;
	} 
	nav ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	nav a {
		display: flex;
		align-items: center;
		padding: 1rem 2rem;
		text-decoration: none;
		color: #32cd32;
		font-size: 1.2vw;
		vertical-align: auto;
		height: 2vh;
	}
	nav a:hover{
		background-color: #424242;
	}
	nav img {
		margin-right: 0.5rem;
		height: 1em;
	}
	.slideimg{
		height:100%;
		width: auto;
		object-fit: cover; 
		vertical-align: center;
	}

	.aboutmepixelart{
		object-fit: cover;
	}
}

.dropdown {
	position: relative;
	display: inline-block;
}  
.dropdown-content {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #242424;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	transition: all 1s ease-in-out;
	min-width: 100%;
	white-space: nowrap;
}  
.dropdown:hover .dropdown-content {
	display: block;
}  

.dropdown-content a {
	display: flex;
	align-items: center;
	padding: 1rem 2rem;
	text-decoration: none;
	color: #32cd32;
	font-size: larger;
	white-space: nowrap;
}

.dropdown-content a img {
	margin-right: 0.5rem;
	height: 1em;
}
.slideshow-container {
	position: relative;
	margin: auto;
	width: 100%;
	height: 75vh;
	overflow: hidden;
}
.mySlides {
	display: none;
	text-align: center;
	height: 75vh;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(center);
    opacity: 1;
  }
}


@keyframes slideOut {
  from {
    transform: translateX(center);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.slideshow-wrapper {
	display: flex;
	justify-content: center;
}

.mySlides.slideIn {
	animation-name: slideIn;
	animation-duration: 1s;
}
.mySlides.slideOut {
	animation-name: slideOut;
	animation-duration: 1s;
}
::-webkit-scrollbar {
	width:  0.5em;
}
::-webkit-scrollbar-track {
	background: transparent; 
}
::-webkit-scrollbar-thumb {
	background: #32cd32;
	border-radius:  0.25em ; 
}
::-webkit-scrollbar-thumb:hover {
	background: green;
}

